
.carousel-item {
    max-height: 35rem;
    margin-top: 2rem;

    .h1Foto {
            font-size: 50px;
            color: rgb(255, 255, 255);
            text-shadow: 3px 0 0 rgb(192, 71, 156);
        }
}


.subtitulo {
    text-align: center;
    margin: 50px;
    .h1sub {
            font-size: 60px;
            color: #FF56EE;
            text-shadow: 1px 1px 4px #888;
        }
}

.container {
    @include flex($justify: space-between, $widht: 100%, $margin:auto);

    .imagen {
    @extend %cards;

    img {
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;
        width: 100%;
   
        }
    }
}

    @media screen and (max-width:768px){
            .subtitulo .h1sub {
                 font-size: 40px;
                     }

            .carousel-item .h1Foto {
                 font-size: 26px;
                 text-shadow: 3px 0 0 rgb(192,71,156);
                        }
            }
