$color: (
colorNav: rgb(255, 105, 180),
backgroundColor: rgb(0, 0, 0),
colorFooter: rgb(240, 221, 221),
h2-color: #ffffff,
);

$fonts: (
font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,
);

