.divremera {
    @include flex($justify: space-between, $widht: 100%, $margin: auto);
.imagen2 {
        @extend %cards;

        img {
            width: 300px;
            height: 400px;
            border-radius: 10px;
            overflow: hidden;
            object-fit: cover;
        }
    }
}
    
#hover:hover {
    font-size: 32px;
} 


.h2Remeras {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    margin-top: 80px;
    padding: 40px;
    background-image: linear-gradient(rgb(122, 5, 151), rgb(241, 82, 207));
    width: 100%;
    color: #ffffff;
}


@media screen and (max-width: 768px){
    .h2Remeras{
        display: block;
        text-align: center;
        font-size: 20px;
    
    }

}