* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: black;
}
header h1 {
  display: inline-block;
}
header .navbar ul {
  list-style-type: none;
}
header .navbar ul li {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  font-size: larger;
}
header .navbar ul li a {
  color: hotpink;
  text-decoration: none;
  font-size: 25px;
  transition: color 0.5s;
}
header .navbar ul li a:hover {
  color: white;
  font-size: 27px;
}

#blanco {
  color: white;
}

#navBarnav {
  -webkit-text-decoration: center;
          text-decoration: center;
}

.h1Foto {
  font-size: 60px;
  text-shadow: 3px 0 0 rgb(74, 109, 114);
}

.carousel-item {
  max-height: 35rem;
  margin-top: 2rem;
}

.subtitulo {
  text-align: center;
  margin: 50px;
}

.h1sub {
  font-size: 40px;
}

.imagen:hover {
  transform: rotateX(10deg);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imagen {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .h1sub {
    font-size: 30px;
  }
  .h1Foto {
    font-size: 40px;
  }
}
.divremera {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  justify-content: space-between;
}

.imagen2 {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
}
.imagen2 p {
  text-align: center;
}
.imagen2:hover {
  box-shadow: 0px 1px 2px rgb(0, 0, 0);
  transform: translateY(-3%);
}

#hover:hover {
  font-size: 32px;
}

.h2Remeras {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  margin-top: 80px;
  padding: 40px;
  background-image: linear-gradient(rgb(122, 5, 151), rgb(241, 82, 207));
  width: 100%;
  color: white;
}

.remeras {
  display: flex;
  justify-content: space-around;
  border-radius: 200px;
}

@media screen and (max-width: 768px) {
  .h2Remeras {
    display: block;
    text-align: center;
  }
}
.imagen3 {
  width: 300px;
  margin: 100px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.imagen3:hover {
  box-shadow: 0px 1px 2px rgb(0, 0, 0);
  transform: translateY(-3%);
}

.divBuzo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.descripcion {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.h2Buzos {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  margin-top: 50px;
  padding: 40px;
  background-image: linear-gradient(rgb(122, 5, 151), rgb(241, 82, 207));
  color: white;
  width: 100%;
}

#hover:hover {
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .h2Buzos {
    display: block;
    text-align: center;
  }
}
.talles {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  justify-content: space-between;
}

.h2Talles {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  margin-top: 80px;
  padding: 40px;
  background-image: linear-gradient(rgb(122, 5, 151), rgb(241, 82, 207));
  color: white;
}

@media screen and (max-width: 768px) {
  .h2Talles {
    display: block;
    text-align: center;
  }
}
.formulario {
  width: 400px;
  background-color: rgb(70, 68, 68);
  padding: 30px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 60px;
  border-radius: 5px;
}
.formulario p {
  text-align: center;
  font-size: 18px;
  color: beige;
}

.form {
  width: 100%;
  margin: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border: 3px solid;
  color: #FF56EE;
}

.form1 {
  width: 100%;
  height: 120px;
  margin: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border: 3px solid;
  color: #FF56EE;
}

.boton {
  width: 100%;
  margin-top: 10%;
  padding: 5px;
  background-color: #FF56EE;
  border: none;
  color: white;
  font-size: 20px;
}

.h2Pedidos {
  text-align: center;
  font-size: 60px;
  margin-top: 100px;
  color: rgb(56, 56, 56);
}

.footer {
  background-color: black;
  display: flex;
}

.redesociales {
  display: flex;
  justify-content: space-evenly;
}

#contacto {
  color: rgb(240, 221, 221);
  font-size: 35px;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.pagosFooter {
  justify-content: center;
  text-align: center;
  color: beige;
  font-size: 20px;
}

.logoFooter {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .logoFooter {
    width: 150px;
  }
}
/*-----------------MOBIL---------------*//*# sourceMappingURL=styles.css.map */